<h1>Meetups</h1>
<ul>
<% @meetups.each do |meetup| %>
<li><a href="/meetups/<%= meetup.id %>"><%= meetup.title %></a></li>
<% end %>
</ul>

<%= will_paginate @meetups %>

<a href="/meetups/create">New Meetup</a>
